@model BudgetPortal.ViewModel.MultipleData
@using System.Web;

@using Microsoft.AspNetCore.Mvc;

@using Microsoft.AspNetCore.Identity;
@using BudgetPortal.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reports";
    int OuterHeaderCount = 0;
    int OuterBodyCount = 0;
    int CountHeader = 0;
    int CounterBody = 0;
}
<br />

<div id="outerdiv">
    <div style="float:right">

        @Html.AntiForgeryToken()

        <table border="0" cellpadding="5" cellspacing="0">
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.SelectedReportID, Model.ReportNames,"--Please select any Report--", new { @class = "form-control", @id="Reports" })
                    @Html.HiddenFor(m => m.SelectedReportName, new {id="SelectedReportName"})
                    @Html.ValidationMessageFor(Model => Model.SelectedReportID, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.SelectedAcademicYearID, Model.AcademicYears,"--Please select any Academic Year--",new { @class = "form-control", @id="AcademicYear" })
                    @Html.HiddenFor(m => m.SelectedAcademicYear, new {id="SelectedAcademicYear"}) 
                    @Html.ValidationMessageFor(Model => Model.SelectedAcademicYearID, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.SelectedDivisionTypeID, Model.DivisionTypeNames,"--Please select any DivisionType Name--",new { @class = "form-control", @id="DivisionType" })
                    @Html.HiddenFor(m => m.SelectedDivisionTypeName, new {id="SelectedDivisionTypeName"})
                    @Html.ValidationMessageFor(Model => Model.SelectedDivisionTypeID, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>
  
    </div>
    <br />
    <br />
    <ul id="outerTab" class="nav nav-tabs" role="tablist">
        @foreach (var item in Model.Sectionss)
        {
            var inneridenti = String.Concat("Budget", @item.SectionNo.ToString());

            if (OuterHeaderCount == 0)
            {
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="@inneridenti-nav" data-bs-toggle="tab" data-bs-target="#@inneridenti" type="button" role="tab" aria-controls="@inneridenti" aria-selected="true">@item.SectionName</button>
                </li>
            }
            else
            {

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="@inneridenti-nav" data-bs-toggle="tab" data-bs-target="#@inneridenti" type="button" role="tab" aria-controls="@inneridenti" aria-selected="false">@item.SectionName</button>
                </li>
            }

            OuterHeaderCount++;
        }
    </ul>

    <div id="outerTabContent" class="tab-content" onclick="">
        <br />

        @foreach (var inner in Model.Sectionss)
        {
            var inneridenti = String.Concat("Budget", @inner.SectionNo.ToString());
            CountHeader = 0;
            CounterBody = 0;

            var SectionSumBudEstCurrFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.BudEstCurrFin).Sum();
            var SectionSumActPrevFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ActPrevFin).Sum();
            var SectionSumActCurrFinTill2ndQuart = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ActCurrFinTill2ndQuart).Sum();
            var SectionSumRevEstCurrFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.RevEstCurrFin).Sum();
            var SectionSumPerVarRevEstOverBudgEstCurrFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.PerVarRevEstOverBudgEstCurrFin).Sum();
            var SectionSumACAndBWPropRECurrFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ACAndBWPropRECurrFin).Sum();
            var SectionSumBudgEstNexFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.BudgEstNexFin).Sum();
            var SectionSumPerVarRevEstOverBudgEstNxtFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.PerVarRevEstOverBudgEstNxtFin).Sum();
            var SectionSumACAndBWPropRENxtFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ACAndBWPropRENxtFin).Sum();

            if (OuterBodyCount == 0)
            {
                <div id="@inneridenti" class="tab-pane fade show active" role="tabpanel" aria-labelledby="@inneridenti-tab" aria-selected="true">

                  <!--  <table id="@inneridenti-Totaltable" class="table">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th class="CurrentBudgetEstimates">

                                </th>
                                <th class="PreviousActualBudget">

                                </th>
                                <th class="PreviousHalfYearActualBudget">

                                </th>
                                <th class="CurrentYearRevisedEstimates">

                                </th>
                                <th class="VariationInRevisedEstimates">

                                </th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th class="ACBWProposalForRevisedEstimates">

                                    </th>
                                }
                                <th class="BudgetEstimatesNextYear">

                                </th>
                                <th class="VariationInBudgetEstimates">

                                </th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th class="ACBWProposalForBudgetEstimates">

                                    </th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @inner.SectionNo @inner.SectionName-Total
                                </td>

                                <td>
                                    @SectionSumBudEstCurrFin.ToString()
                                </td>
                                <td>
                                    @SectionSumActPrevFin.ToString()
                                </td>
                                <td>
                                    @SectionSumActCurrFinTill2ndQuart.ToString()
                                </td>
                                <td>
                                    @SectionSumRevEstCurrFin.ToString()
                                </td>
                                <td>
                                    @SectionSumPerVarRevEstOverBudgEstCurrFin.ToString()
                                </td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        @SectionSumACAndBWPropRECurrFin.ToString()
                                    </td>
                                }
                                <td>
                                    @SectionSumBudgEstNexFin.ToString()
                                </td>
                                <td>
                                    @SectionSumPerVarRevEstOverBudgEstNxtFin.ToString()
                                </td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        @SectionSumACAndBWPropRENxtFin.ToString()
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table> -->

                    <ul id="innertab1" class="nav nav-tabs" role="tablist">
                        @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                        {
                            var identi = String.Concat("Budget", Convert.ToInt32((Convert.ToDecimal(@item.GroupNo) * 10)).ToString());

                            if (CountHeader == 0)
                            {
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="@identi-nav" data-bs-toggle="tab" data-bs-target="#@identi" type="button" role="tab" aria-controls="@identi" aria-selected="true">@item.GroupName</button>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="@identi-nav" data-bs-toggle="tab" data-bs-target="#@identi" type="button" role="tab" aria-controls="@identi" aria-selected="false">@item.GroupName</button>
                                </li>
                            }

                            CountHeader++;
                        }
                    </ul>

                    <div id="innertabcontent1" class="tab-content">
                        <br />
                        @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                        {
                            int TableCount = 0;
                            var Submit = String.Concat("Submit", @inner.SectionNo.ToString(), @item.GroupNo, @TableCount);
                            var identi = String.Concat("Budget", Convert.ToInt32((Convert.ToDecimal(@item.GroupNo) * 10)).ToString());

                            var SumBudEstCurrFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.BudEstCurrFin).Sum();
                            var SumActPrevFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.ActPrevFin).Sum();
                            var SumActCurrFinTill2ndQuart = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.ActCurrFinTill2ndQuart).Sum();
                            var SumRevEstCurrFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.RevEstCurrFin).Sum();
                            var SumPerVarRevEstOverBudgEstCurrFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.PerVarRevEstOverBudgEstCurrFin).Sum();
                            var SumACAndBWPropRECurrFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.ACAndBWPropRECurrFin).Sum();
                            var SumBudgEstNexFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.BudgEstNexFin).Sum();
                            var SumPerVarRevEstOverBudgEstNxtFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.PerVarRevEstOverBudgEstNxtFin).Sum();
                            var SumACAndBWPropRENxtFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.ACAndBWPropRENxtFin).Sum();

                            if (CounterBody == 0)
                            {
                                <div id="@identi" class="tab-pane fade show active" role="tabpanel" aria-labelledby="@identi-tab">
                                    @using (Html.BeginForm("Index", "Tabs", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <table id="@identi-outertable" class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        SubGroupNumber
                                                    </th>
                                                    <th>
                                                        SubGroupName
                                                    </th>
                                                    <th>
                                                        Report Type
                                                    </th>

                                                    @foreach (var Regions in Model.Divisionss.Where(d => d.DivisionType.Equals(Model.SelectedDivisionTypeName)))
                                                    {
                                                        <th>
                                                            @Regions.DivisionName;
                                                        </th>
                                                     }
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var Subs in Model.SubGroupss.Where(d => d.GroupNo.Equals(@item.GroupNo)))
                                                {
                                                    var details = (from a in Model.Detailss where a.SubGroupNumber.Equals(@Subs.SubGroupNo) select a).FirstOrDefault();
                                                    var ReportName = Model.ReportNames.Select(m => new SelectListItem { Selected = true });

                                                    <tr>
                                                        <td>
                                                            <img src="~/Images/plus.png" />
                                                            <div id="NestedTable" style="display:none">
                                                                <table class="table ChildGrid">
                                                                    <tr>
                                                                        <th>Ledger Number</th>
                                                                        <th>Ledger Name</th>
                                                                    </tr>
                                                                    @foreach (var Ledgers in Model.Ledgerss.Where(d => d.SubGroupNo.Equals(@Subs.SubGroupNo)))
                                                                    {
                                                                        <tr>
                                                                            <td>@Ledgers.LedgerNo</td>
                                                                            <td>@Ledgers.LedgerName</td>
                                                                        </tr>
                                                                    }
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @Subs.SubGroupNo
                                                        </td>
                                                        <td>
                                                            @Subs.subGroupName
                                                        </td>
                                                        <td>
                                                            @ReportName
                                                        </td>
                                                        @foreach (var Regions in Model.Divisionss.Where(d => d.DivisionType.Equals(Model.SelectedDivisionTypeName)))
                                                        {
                                                            var result = (from a in Model.Detailss where a.DivisionID == Regions.DivisionID select a).FirstOrDefault();
                                                           
                                                            if(Model.SelectedReportName.Equals("Actual"))
                                                            {
                                                               <td>
                                                                  @result.ActPrevFin
                                                               </td>
                                                            }
                                                            else if(Model.SelectedReportName.Equals("Actual Half Year"))
                                                            {
                                                              <td>
                                                                  @result.ActCurrFinTill2ndQuart
                                                               </td>
                                                            }
                                                            else if(Model.SelectedReportName.Equals("Revised Estimates"))
                                                            {
                                                               <td>
                                                                  @result.RevEstCurrFin
                                                               </td> 
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Budget Estimates"))
                                                            {
                                                                <td>
                                                                    @result.BudgEstNexFin
                                                                </td>
                                                            }
                                                        }
                                                    </tr>

                                                    TableCount++;
                                                }
                                                
                                            </tbody>
                                        </table>
                                    }
                                </div>

                            }
                            else
                            {
                                <div id="@identi" class="tab-pane fade" role="tabpanel" aria-labelledby="@identi-tab">
                                    <br />
                                    @using (Html.BeginForm("Index", "Tabs", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <table id="@identi-outertable" class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        SubGroupNumber
                                                    </th>
                                                    <th>
                                                        SubGroupName
                                                    </th>
                                                    <th>
                                                        Report Type
                                                    </th>
                                                    @foreach (var Regions in Model.Divisionss.Where(d => d.DivisionType.Equals(Model.SelectedDivisionTypeName)))
                                                    {
                                                        <th>@Regions.DivisionName</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var Subs in Model.SubGroupss.Where(d => d.GroupNo.Equals(@item.GroupNo)))
                                                {
                                                    var details = (from a in Model.Detailss where a.SubGroupNumber.Equals(@Subs.SubGroupNo) select a).FirstOrDefault();
                                                    var ReportName = (from a in Model.ReportNames where a.Selected.Equals("true") select a.Text).ToString();
                                                    <tr>
                                                        <td>
                                                            <img src="~/Images/plus.png" />
                                                            <div id="NestedTable" style="display:none">
                                                                <table class="table ChildGrid">
                                                                    <tr>
                                                                        <th>Ledger Number</th>
                                                                        <th>Ledger Name</th>
                                                                    </tr>
                                                                    @foreach (var Ledgers in Model.Ledgerss.Where(d => d.SubGroupNo.Equals(@Subs.SubGroupNo)))
                                                                    {
                                                                        <tr>
                                                                            <td>@Ledgers.LedgerNo</td>
                                                                            <td>@Ledgers.LedgerName</td>
                                                                        </tr>
                                                                    }
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @Subs.SubGroupNo
                                                        </td>
                                                        <td>
                                                            @Subs.subGroupName
                                                        </td>
                                                        <td>
                                                            @ReportName
                                                        </td>
                                                        @foreach (var Regions in Model.Divisionss.Where(d => d.DivisionType.Equals(Model.SelectedDivisionTypeName)))
                                                        {
                                                            var result = (from a in Model.Detailss where a.DivisionID == Regions.DivisionID select a).FirstOrDefault();

                                                            if (Model.SelectedReportName.Equals("Actual"))
                                                            {
                                                                <td>
                                                                    @result.ActPrevFin
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Actual Half Year"))
                                                            {
                                                                <td>
                                                                    @result.ActCurrFinTill2ndQuart
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Revised Estimates"))
                                                            {
                                                                <td>
                                                                    @result.RevEstCurrFin
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Budget Estimates"))
                                                            {
                                                                <td>
                                                                    @result.BudgEstNexFin
                                                                </td>
                                                            }
                                                        }
                                                    </tr>

                                                    TableCount++;
                                                }

                                            </tbody>
                                        </table>
                                        @Html.Hidden("SectionName",Model.SectionName, new{@id = @identi+"-SectionName" })
                                        @Html.Hidden("GroupName",Model.GroupName, new{@id = @identi+"-GroupName" })
                                        @Html.Hidden("SelectedAcademicYear", Model.SelectedAcademicYear,  new{@id = @identi+"-SelectedAcademicYear" })
                                        @Html.Hidden("SelectedDivisionName",Model.SelectedDivisionName,  new{@id = @identi+"-SelectedDivisionName" })
                                        //<input id="@Submit" class="Submit" type="submit" style="align-self:center">
                                    }
                                </div>

                            }
                            CounterBody++;
                        }

                    </div>
                </div>
            }

            else
            {
                <div id="@inneridenti" class="tab-pane fade" role="tabpanel" aria-labelledby="@inneridenti-tab" aria-selected="false">

                    <ul id="innertab2" class="nav nav-tabs" role="tablist">
                        @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                        {
                            var identi = String.Concat("Budget", Convert.ToInt32((Convert.ToDecimal(@item.GroupNo) * 10)).ToString());

                            if (CountHeader == 0)
                            {
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="@identi-nav" data-bs-toggle="tab" data-bs-target="#@identi" type="button" role="tab" aria-controls="@identi" aria-selected="true">@item.GroupName</button>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="@identi-nav" data-bs-toggle="tab" data-bs-target="#@identi" type="button" role="tab" aria-controls="@identi" aria-selected="false">@item.GroupName</button>
                                </li>
                            }

                            CountHeader++;
                        }
                    </ul>

                    <div id="innertabcontent1" class="tab-content">
                        <br />
                        @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                        {
                            int TableCount = 0;
                            var Submit = String.Concat("Submit", @inner.SectionNo.ToString(), @item.GroupNo, @TableCount);
                            var identi = String.Concat("Budget", Convert.ToInt32((Convert.ToDecimal(@item.GroupNo) * 10)).ToString());

                            var SumBudEstCurrFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.BudEstCurrFin).Sum();
                            var SumActPrevFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.ActPrevFin).Sum();
                            var SumActCurrFinTill2ndQuart = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.ActCurrFinTill2ndQuart).Sum();
                            var SumRevEstCurrFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.RevEstCurrFin).Sum();
                            var SumPerVarRevEstOverBudgEstCurrFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.PerVarRevEstOverBudgEstCurrFin).Sum();
                            var SumACAndBWPropRECurrFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.ACAndBWPropRECurrFin).Sum();
                            var SumBudgEstNexFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.BudgEstNexFin).Sum();
                            var SumPerVarRevEstOverBudgEstNxtFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.PerVarRevEstOverBudgEstNxtFin).Sum();
                            var SumACAndBWPropRENxtFin = (from a in Model.Detailss where a.GroupNumber.Equals(@item.GroupNo) select a.ACAndBWPropRENxtFin).Sum();

                            if (CounterBody == 0)
                            {
                                <div id="@identi" class="tab-pane fade show active" role="tabpanel" aria-labelledby="@identi-tab">
                                    @using (Html.BeginForm("Index", "Tabs", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <table id="@identi-outertable" class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        SubGroupNumber
                                                    </th>
                                                    <th>
                                                        SubGroupName
                                                    </th>
                                                    <th>
                                                        Report Type
                                                    </th>
                                                    @foreach (var Regions in Model.Divisionss.Where(d => d.DivisionType.Equals(Model.SelectedDivisionTypeName)))
                                                    {
                                                        <th>@Regions.DivisionName</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var Subs in Model.SubGroupss.Where(d => d.GroupNo.Equals(@item.GroupNo)))
                                                {
                                                    var details = (from a in Model.Detailss where a.SubGroupNumber.Equals(@Subs.SubGroupNo) select a).FirstOrDefault();
                                                    var ReportName = (from a in Model.ReportNames where a.Selected.Equals("true") select a.Text).ToString();

                                                    <tr>
                                                        <td>
                                                            <img src="~/Images/plus.png" />
                                                            <div id="NestedTable" style="display:none">
                                                                <table class="table ChildGrid">
                                                                    <tr>
                                                                        <th>Ledger Number</th>
                                                                        <th>Ledger Name</th>
                                                                    </tr>
                                                                    @foreach (var Ledgers in Model.Ledgerss.Where(d => d.SubGroupNo.Equals(@Subs.SubGroupNo)))
                                                                    {
                                                                        <tr>
                                                                            <td>@Ledgers.LedgerNo</td>
                                                                            <td>@Ledgers.LedgerName</td>
                                                                        </tr>
                                                                    }
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @Subs.SubGroupNo
                                                        </td>
                                                        <td>
                                                            @Subs.subGroupName
                                                        </td>
                                                        <td>
                                                            @ReportName
                                                        </td>
                                                        @foreach (var Regions in Model.Divisionss.Where(d => d.DivisionType.Equals(Model.SelectedDivisionTypeName)))
                                                        {
                                                            var result = (from a in Model.Detailss where a.DivisionID == Regions.DivisionID select a).FirstOrDefault();

                                                            if (Model.SelectedReportName.Equals("Actual"))
                                                            {
                                                                <td>
                                                                    @result.ActPrevFin
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Actual Half Year"))
                                                            {
                                                                <td>
                                                                    @result.ActCurrFinTill2ndQuart
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Revised Estimates"))
                                                            {
                                                                <td>
                                                                    @result.RevEstCurrFin
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Budget Estimates"))
                                                            {
                                                                <td>
                                                                    @result.BudgEstNexFin
                                                                </td>
                                                            }
                                                        }
                                                    </tr>

                                                    TableCount++;
                                                }

                                            </tbody>
                                        </table>
                                    }
                                </div>

                            }
                            else
                            {
                                <div id="@identi" class="tab-pane fade" role="tabpanel" aria-labelledby="@identi-tab">
                                    <br />
                                    @using (Html.BeginForm("Index", "Tabs", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <table id="@identi-outertable" class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        SubGroupNumber
                                                    </th>
                                                    <th>
                                                        SubGroupName
                                                    </th>
                                                    <th>
                                                        Report Type
                                                    </th>
                                                    @foreach (var Regions in Model.Divisionss.Where(d => d.DivisionType.Equals(Model.SelectedDivisionTypeName)))
                                                    {
                                                        <th>@Regions.DivisionName</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var Subs in Model.SubGroupss.Where(d => d.GroupNo.Equals(@item.GroupNo)))
                                                {
                                                    var details = (from a in Model.Detailss where a.SubGroupNumber.Equals(@Subs.SubGroupNo) select a).FirstOrDefault();
                                                    var ReportName = (from a in Model.ReportNames where a.Selected.Equals("true") select a.Text).ToString();
                                                    <tr>
                                                        <td>
                                                            <img src="~/Images/plus.png" />
                                                            <div id="NestedTable" style="display:none">
                                                                <table class="table ChildGrid">
                                                                    <tr>
                                                                        <th>Ledger Number</th>
                                                                        <th>Ledger Name</th>
                                                                    </tr>
                                                                    @foreach (var Ledgers in Model.Ledgerss.Where(d => d.SubGroupNo.Equals(@Subs.SubGroupNo)))
                                                                    {
                                                                        <tr>
                                                                            <td>@Ledgers.LedgerNo</td>
                                                                            <td>@Ledgers.LedgerName</td>
                                                                        </tr>
                                                                    }
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @Subs.SubGroupNo
                                                        </td>
                                                        <td>
                                                            @Subs.subGroupName
                                                        </td>
                                                        <td>
                                                            @ReportName
                                                        </td>
                                                        @foreach (var Regions in Model.Divisionss.Where(d => d.DivisionType.Equals(Model.SelectedDivisionTypeName)))
                                                        {
                                                            var result = (from a in Model.Detailss where a.DivisionID == Regions.DivisionID select a).FirstOrDefault();

                                                            if (Model.SelectedReportName.Equals("Actual"))
                                                            {
                                                                <td>
                                                                    @result.ActPrevFin
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Actual Half Year"))
                                                            {
                                                                <td>
                                                                    @result.ActCurrFinTill2ndQuart
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Revised Estimates"))
                                                            {
                                                                <td>
                                                                    @result.RevEstCurrFin
                                                                </td>
                                                            }
                                                            else if (Model.SelectedReportName.Equals("Budget Estimates"))
                                                            {
                                                                <td>
                                                                    @result.BudgEstNexFin
                                                                </td>
                                                            }
                                                        }
                                                    </tr>

                                                    TableCount++;
                                                }

                                            </tbody>
                                        </table>
                                        @Html.Hidden("SectionName",Model.SectionName, new{@id = @identi+"-SectionName" })
                                        @Html.Hidden("GroupName",Model.GroupName, new{@id = @identi+"-GroupName" })
                                        @Html.Hidden("SelectedAcademicYear", Model.SelectedAcademicYear,  new{@id = @identi+"-SelectedAcademicYear" })
                                        @Html.Hidden("SelectedDivisionName",Model.SelectedDivisionName,  new{@id = @identi+"-SelectedDivisionName" })
                                        //<input id="@Submit" class="Submit" type="submit" style="align-self:center">
                                    }
                                </div>

                            }
                            CounterBody++;
                        }

                    </div>
                </div>
            }

            OuterBodyCount++;
        }
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/nestedtable.js"></script>
@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(
            function () {
                onceDocReady();
                
                $('body').on('change', "#DivisionType",
                    function (evt) 
                    {
                        $("#SelectedDivisionTypeName").val($("#DivisionType option:selected").text().trim());
                    });

                $('body').on('change', "#Reports",
                    function (evt) {
                        $("#SelectedReportName").val($("#Reports option:selected").text().trim());
                    });

                $('body').on('change', "#AcademicYear",
                    function (evt) {
                        $("#SelectedAcademicYear").val($("#AcademicYear option:selected").text().trim());

                        var academicyear = $("#SelectedAcademicYear").val();

                        $("#SelectedDivisionName").val($("#Division option:selected").text().trim());

                        var divisionname = $("#SelectedDivisionName").val();

                        var year = academicyear.split('-');
                        //alert(year[0]);

                        var sectionnoid = $('#outerTab li button.active').attr('id');

                        var section = sectionnoid.split('-');

                        var groupnoid = $('#' + section[0] + ' ul li button.active').attr('id');
                        //alert(groupnoid);
                        var group = groupnoid.split('-');
                        //alert(group[0]);

                        $.ajax
                            ({
                                type: "Get",
                                url: '@Url.Action("GetDetails","Tabs")',
                                data: { Year: year[0], Division: divisionname },
                                dataType: "html",
                                success: function (data) {
                                    //Whatever result you have got from your controller with html partial view replace with a specific html.
                                    //alert("Inside Ajax");
                                    //alert($("#outerdiv", data).html());

                                    //$("#outerdiv").html(data);// HTML DOM replace

                                    //$("#outerdiv").html(data);
                                    $("#outerdiv").html($("#outerdiv", data).html());
                                    onceDocReady();

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown);
                                }

                            });
                    }
                );

            });

        function onceDocReady() {
            $("#SelectedAcademicYear").val($("#AcademicYear option:selected").text().trim());
            alert($("#SelectedAcademicYear").val());
            $("#SelectedDivisionTypeName").val($("#DivisionType option:selected").text().trim());
            alert($("#SelectedDivisionTypeName").val());
            $("#SelectedReportName").val($("#Reports option:selected").text().trim());
            alert($("#SelectedReportName").val());

            var academicyear = $("#SelectedAcademicYear").val();
            var DivisionTypeName = $("#SelectedDivisionTypeName").val();
            alert(DivisionTypeName);
            var ReportName = $("#SelectedReportName").val();
            var year = academicyear.split('-');
            //alert(year[1]);

            //$(".CurrentBudgetEstimates").text('Budget Estimates ' + $("#SelectedAcademicYear").val());
            //$(".PreviousActualBudget").text('Actual ' + (Number.parseInt(year[0]) - Number.parseInt(1)) + '-' + Number.parseInt(year[0]));
            //$(".PreviousHalfYearActualBudget").text('Actual upto 30.09 ' + (Number.parseInt(year[0]) - Number.parseInt(1)));
            //$(".CurrentYearRevisedEstimates").text('Revised Estimates ' + $("#SelectedAcademicYear").val());
            //$(".VariationInRevisedEstimates").text('% Variation in RE ' + $("#SelectedAcademicYear").val() + ' over the BE ' + (Number.parseInt(year[0]) - Number.parseInt(1)) + '-' + Number.parseInt(year[0]));
            //$(".ACBWProposalForRevisedEstimates").text('AC & BW Proposal for RE ' + $("#SelectedAcademicYear").val());
            //$(".BudgetEstimatesNextYear").text('Budget Estimates ' + Number.parseInt(year[1]) + '-' + (Number.parseInt(year[1]) + Number.parseInt(1)));
            //$(".VariationInBudgetEstimates").text('% Variation in BE in ' + Number.parseInt(year[1]) + '-' + (Number.parseInt(year[1]) + Number.parseInt(1)) + 'over the RE ' + $("#SelectedAcademicYear").val());
            //$(".ACBWProposalForBudgetEstimates").text('AC & BW Proposal for BE ' + Number.parseInt(year[1]) + '-' + (Number.parseInt(year[1]) + Number.parseInt(1)));
            //$(".Justification").text('Justification');
        }
    </script>
}