@model BudgetPortal.Entities.BudgetSubLedgers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BudgetLedgers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LedgerNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LedgerNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LedgerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LedgerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subGroups)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subGroups.SubGroupNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LedgerNo">Edit</a> |
    <a asp-action="Index" asp-controller="SubLedgers" asp-route-SubGroupid="@ViewData["SubGroupId"]">Back to List</a>
</div>
