@model IEnumerable<BudgetPortal.Entities.BudgetSections>

@{
    ViewData["Title"] = "Sections";
}

<h1>Sections</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectionNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SectionNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SectionNo">Delete</a> |
                <a asp-controller="Groups" asp-action="Index" asp-route-Sectionid="@item.SectionNo">Add Groups</a>
            </td>
        </tr>
}
    </tbody>
</table>
