@model BudgetPortal.ViewModel.ReportView
@using System.Web;

@using BudgetPortal.ViewModel;
@using Microsoft.AspNetCore.Mvc;

@using Microsoft.AspNetCore.Identity;
@using BudgetPortal.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reports";
    int OuterHeaderCount = 0;
    int OuterBodyCount = 0;
    int CountHeader = 0;
    int CounterBody = 0;
    var SumBudEstCurrFin = 0.00;
    var SumActPrevFin = 0.00;
    var SumActCurrFinTill2ndQuart = 0.00;
    var SumRevEstCurrFin = 0.00;
    var SumBudgEstNexFin = 0.00;
    var DivisionTypeName = (from a in Model.DivisionTypeNames where a.Selected == true select a.Text).FirstOrDefault();
    var NextAcademicYear = "";
    String[] SplitAcademicYear = new String[1];
    var Sumname1 = String.Concat("BudEstCurrFin", "Total");
    var Sumname2 = String.Concat("ActPrevFin", "Total");
    var Sumname3 = String.Concat("ActCurrFinTillsecondQuart", "Total");
    var Sumname4 = String.Concat("RevEstCurrFin", "Total");
    var Sumname5 = String.Concat("PerVarRevEstOverBudgEstCurrFin", "Total");
    var Sumname6 = String.Concat("ACAndBWPropRECurrFin", "Total");
    var Sumname7 = String.Concat("BudgEstNexFin", "Total");
    var Sumname8 = String.Concat("PerVarRevEstOverBudgEstNxtFin", "Total");
    var Sumname9 = String.Concat("ACAndBWPropRENxtFin", "Total");
    var Sumname10 = String.Concat("Justification", "Total");
    var Sumname11 = String.Concat("PerVarACBWRevEstOverBudgEstCurrFin", "Total");
    var Sumname12 = String.Concat("PerVarACBWRevEstOverBudgEstNxtFin", "Total");
}
<br />

<div id="outerdiv">

    <div style="float:right">

        @Html.AntiForgeryToken()

        <table border="0" cellpadding="5" cellspacing="0">
            <tr>
                
                <td class="w-20">
                    @Html.DropDownListFor(m => m.SelectedAcademicYearID, Model.AcademicYears,"--Please select any Academic Year--",new { @class = "form-control", @id="AcademicYear" })
                    @Html.HiddenFor(m => m.SelectedAcademicYear, new {id="SelectedAcademicYear"})
                    @Html.ValidationMessageFor(Model => Model.SelectedAcademicYearID, "", new { @class = "text-danger" })
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td class="w-20">
                        @Html.DropDownListFor(m => m.SelectedDivisionTypeID, Model.DivisionTypeNames,"--Please select any DivisionType Name--",new { @class = "form-control", @id="DivisionType" })
                        @Html.HiddenFor(m => m.SelectedDivisionTypeName, new {id="SelectedDivisionTypeName"})
                        @Html.ValidationMessageFor(Model => Model.SelectedDivisionTypeID, "", new { @class = "text-danger" })
                    </td>
                }
            </tr>

        </table>

    </div>

    <br />
    <br />
    <div style="float:right;margin:50px">
        @{
            var SelAcademicYear = (from a in Model.AcademicYears where a.Selected == true select a.Text).FirstOrDefault();
            SplitAcademicYear = SelAcademicYear.Split("-");
            
            var DivType = (from a in Model.DivisionTypeNames where a.Selected == true select a.Text).FirstOrDefault();
        }

       

    </div>
    <br />
    <br />



    

        <table class="table table-borderless">
            <tr class="text-center" style="color:chocolate;border-bottom:hidden;"><th colspan="100">CENTRAL BOARD OF SECONDARY EDUCATION</th></tr>
            <tr class="text-center" style="color:chocolate;border-bottom:hidden;">
                <th colspan="100">Shiksha Kendra 2, Community Centre, Preet Vihar, Delhi - 110 092</th>
            </tr>
            <tr class="text-center" style="color:green;border-bottom:hidden;">
                <th colspan="100">Summary</th>
            </tr>
            <tr class="text-center" style="color:red;border-bottom:hidden;">
                <th colspan="100">(*FIGURES IN CRORES)</th>
            </tr>
        </table>

        
        <table id="Budget-Summary" class="table table-responsive table-hover table-bordered">

            <thead>
                <tr class="text-center">
                    
                </tr>
                <tr>
                    <th></th>
                    <th class="w-5">
                        HEAD NO.
                    </th>
                    <th class="w-5">
                        SUBHEAD NO.
                    </th>
                    <th class="w-5">
                        HEAD NAME
                    </th>
                    <th class="CurrentBudgetEstimates w-10">

                    </th>
                    <th class="InterimRevEst w-10">

                    </th>
                    <th class="ProvisionalRevEst w-10">

                    </th>
                    <th class="PreviousActualBudget w-10">

                    </th>
                    <th class="PreviousHalfYearActualBudget w-10">

                    </th>
                    <th class="CurrentYearRevisedEstimates w-10">

                    </th>
                    <th class="VariationInRevisedEstimates w-10">

                    </th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th class="ACBWProposalForRevisedEstimates w-10">

                        </th>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <th class="VariationInRevisedEstimates w-10">

                        </th>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <th class="ACBWJustificationRevEst w-10">

                        </th>
                    }
                    <th class="BudgetEstimatesNextYear w-10">

                    </th>
                    <th class="VariationInBudgetEstimates w-10">

                    </th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th class="ACBWProposalForBudgetEstimates w-10">

                        </th>

                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <th class="VariationInBudgetEstimates w-10">

                        </th>

                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <th class="Remarks w-10">

                        </th>
                    }

                </tr>
            </thead>
            <tbody>
                <tr></tr>
        
               @foreach (var inner in Model.Sectionss)
               {
                 var inneridenti = String.Concat("Budget", @inner.SectionNo.ToString());
                 CountHeader = 0;
                  CounterBody = 0;

            var SectionSumBudEstCurrFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.BudEstCurrFin).Sum();
            var SectionSumActPrevFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ActPrevFin).Sum();
            var SectionSumActCurrFinTill2ndQuart = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ActCurrFinTill2ndQuart).Sum();
            var SectionSumACAndBWPropRECurrFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ACAndBWPropRECurrFin).Sum();
            var SectionSumPerVarRevEstOverBudgEstCurrFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.PerVarRevEstOverBudgEstCurrFin).Sum();
            //var SectionSumACAndBWPropRECurrFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ACAndBWPropRECurrFin).Sum();
            var SectionSumACAndBWPropRENxtFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ACAndBWPropRENxtFin).Sum();
            var SectionSumPerVarRevEstOverBudgEstNxtFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.PerVarRevEstOverBudgEstNxtFin).Sum();
            /*var SectionSumACAndBWPropRENxtFin = (from a in Model.Detailss where a.SectionNumber.Equals(@inner.SectionNo) select a.ACAndBWPropRENxtFin).Sum();*/


                var SelectedDivisionTypeName = (from a in Model.DivisionTypeNames where a.Selected == true select a.Text).FirstOrDefault();
               
                        <br />
                        @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                        {
                            int TableCount = 0;
                                
                                                
                                
                            CounterBody++;
                        }

               
            OuterBodyCount++;
        }
                <tr>
                    <td>
                    </td>
                    <td>
                        Total
                    </td>
                    <td>
                        Total
                    </td>

                    <td id="@Sumname1-Total">
                        @SumBudEstCurrFin.ToString("F4")
                    </td>
                    <td id="@Sumname2-Total">
                        @SumActPrevFin.ToString("F4")
                    </td>
                    <td id="@Sumname3-Total">
                        @SumActCurrFinTill2ndQuart.ToString("F4")
                    </td>
                    <td id="@Sumname4-Total">
                        @SumRevEstCurrFin.ToString("F4")
                    </td>

                    <td id="@Sumname7-Total">
                        @SumBudgEstNexFin.ToString("F4")
                    </td>
                </tr>
            </tbody>
         </table>
   
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/nestedtable.js"></script>
@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(
            function () {
                onceDocReady();

                $('body').on('change', "#DivisionType",
                    function (evt) {
                        dropdownchange();
                    });

                $('body').on('change', "#Reports",
                    function (evt) {

                        dropdownchange();
                    });

                $('body').on('change', "#AcademicYear",
                    function (evt) {
                        //$("#Reports").val(1);
                        //alert("Index of Budget Estimates: "+$("#Reports option:selected").text().trim().indexOf("Budget Estimates"));

                        if ($("#Reports option:selected").text().trim().indexOf("Consolidated Budget Estimates") >= 0) {
                            reportNamesChange();
                            $("#Reports option:selected").removeAttr("selected");
                            $("#Reports").find($("option[value ^= '10']")).attr("selected", true);
                            alert($("#Reports option:selected").text().trim());
                            dropdownchange();
                        }
                        else if ($("#Reports option:selected").text().trim().indexOf("Budget Estimates") >= 0) {
                            reportNamesChange();
                            $("#Reports option:selected").removeAttr("selected");
                            $("#Reports").find($("option[value ^= '6']")).attr("selected", true);
                            alert($("#Reports option:selected").text().trim());
                            dropdownchange();
                        }
                        else {
                            reportNamesChange();
                            dropdownchange();
                        }
                    }
                );

            });
        function reportNamesChange() {
            $("#SelectedAcademicYear").val($("#AcademicYear option:selected").text().trim());
            var academicyear = $("#SelectedAcademicYear").val();
            var year = academicyear.split('-');
            // $("#Reports").find($("option[value^='4']")).html("Budget Estimates "+year[0]+"-"+year[1]);
            $("#Reports").find($("option[value^='6']")).html("Budget Estimates " + year[1] + "-" + (parseInt(year[1]) + parseInt(1)));
            $("#Reports").find($("option[value^='10']")).html("Consolidated Budget Estimates " + year[1] + "-" + (parseInt(year[1]) + parseInt(1)));
        }
        function onceDocReady() {
            $("#SelectedAcademicYear").val($("#AcademicYear option:selected").text().trim());
            //alert($("#SelectedAcademicYear").val());
            $("#SelectedDivisionTypeName").val($("#DivisionType option:selected").text().trim());
            //alert($("#SelectedDivisionTypeName").val());
            $("#SelectedReportName").val($("#Reports option:selected").text().trim());
            //alert($("#SelectedReportName").val());

            var academicyear = $("#SelectedAcademicYear").val();
            var DivisionTypeName = $("#SelectedDivisionTypeName").val();
            //alert(DivisionTypeName);
            var ReportName = $("#SelectedReportName").val();
            var year = academicyear.split('-');
            //alert(year[1]);

            $(".CurrentBudgetEstimates").text('Budget Estimates ' + $("#SelectedAcademicYear").val());
            $(".PreviousActualBudget").text('Actual ' + (Number.parseInt(year[0]) - Number.parseInt(1)) + '-' + Number.parseInt(year[0]));
            $(".PreviousHalfYearActualBudget").text('Actual upto 30.09.' + Number.parseInt(year[0]));
            $(".CurrentYearRevisedEstimates").text('Revised Estimates ' + $("#SelectedAcademicYear").val());
            $(".BudgetEstimatesNextYear").text('Budget Estimates ' + Number.parseInt(year[1]) + '-' + (Number.parseInt(year[1]) + Number.parseInt(1)));

        }

        function dropdownchange() {
            $("#SelectedReportName").val($("#Reports option:selected").text().trim());
            var SelectedReport = $("#SelectedReportName").val();
            //alert("Selected Report : " + SelectedReport);

            $("#SelectedAcademicYear").val($("#AcademicYear option:selected").text().trim());
            var academicyear = $("#SelectedAcademicYear").val();
            //alert("Selected Academic Year : " + academicyear);

            $("#SelectedDivisionTypeName").val($("#DivisionType option:selected").text().trim());
            var SelectedDiv = $("#SelectedDivisionTypeName").val();
            //alert("Selected DivisionType Name : " + SelectedDiv);

            // if(!academicyear.Equals("--Please select any Academic Year--"))
            // {
            var year = academicyear.split('-');
            //alert(year[0]);
            // }
            // else
            // {
            //    var year = 0;
            //  }
            var sectionnoid = $('#outerTab li button.active').attr('id');

            var section = sectionnoid.split('-');

            var groupnoid = $('#' + section[0] + ' ul li button.active').attr('id');
            //alert(groupnoid);
            var group = groupnoid.split('-');
            //alert(group[0]);

            $.ajax
                ({
                    type: "Get",
                    url: '@Url.Action("GetDetails","Reports")',
                    data: { Year: year[0], DivisionType: SelectedDiv, Report: SelectedReport },
                    dataType: "html",
                    success: function (data) {
                        //Whatever result you have got from your controller with html partial view replace with a specific html.
                        //alert("Inside Ajax");
                        //alert($("#outerdiv", data).html());

                        //$("#outerdiv").html(data);// HTML DOM replace

                        //$("#outerdiv").html(data);
                        $("#outerdiv").html($("#outerdiv", data).html());
                        onceDocReady();
                        var activesectionid = $('#outerTab li button.active').attr('id');
                        //alert("Not active : "+activesectionid);

                        $('#' + activesectionid).removeClass("active");
                        $('#' + activesectionid).removeClass("show");
                        //$('#'+sectionnoid).Click();
                        $('#' + sectionnoid).addClass("active");
                        $('#' + sectionnoid).addClass("show");

                        //alert("Active : "+sectionnoid);

                        var splitsection = activesectionid.split('-');

                        var activegroupnoid = $('#' + splitsection[0] + ' ul li button.active').attr('id');
                        $('#' + activegroupnoid).removeClass("active");
                        $('#' + activegroupnoid).removeClass("show");
                        //$('#'+groupnoid).Click();
                        $('#' + groupnoid).addClass("active");
                        $('#' + groupnoid).addClass("show");

                        var activenavigationid = $('#' + activegroupnoid).attr('data-bs-target');
                        //alert(activenavigationid);
                        $(activenavigationid).removeClass("active");
                        $(activenavigationid).removeClass("show");

                        var navigationid = $('#' + groupnoid).attr('data-bs-target');

                        $(navigationid).addClass("active");
                        $(navigationid).addClass("show");

                        //var splitnavigationid = navigationid.split('#');
                        //alert("Active Content : " + splitnavigationid[0]+"Active Content :"+ splitnavigationid[1]);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Error Thrown" + errorThrown);
                    }

                });
        }
    </script>
}