@model IEnumerable<BudgetPortal.Entities.BudgetGroups>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Groups";
}

<h1>Groups</h1>

<p>
    
    <a asp-action="Create" asp-route-Sectionid=@ViewData["SecNo"] >Create New</a>|
    <a asp-action="Index" asp-controller="Sections">Back to Sections</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sections)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) 
      {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupNo">Delete</a> |
                <a asp-controller="Ledgers" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-Groupid="@item.GroupNo">Add Ledgers</a>
            </td>
        </tr>
      }
    </tbody>
</table>

<a asp-action="Index" asp-controller="Sections">Back to Sections</a>
