@model IEnumerable<BudgetPortal.Entities.BudgetSubGroups>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SubGroups";
}

<h1>SubGroups</h1>

<p>
    <a asp-action="Create" asp-route-Groupid=@ViewData["GroupNo"]>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubGroupNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subGroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequireInput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.groups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubGroupNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequireInput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groups.GroupNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubGroupNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubGroupNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubGroupNo">Delete</a> |
                <a asp-controller="Ledgers" asp-action="Index" asp-route-SubGroupid="@item.SubGroupNo">Add Ledgers</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="Groups" asp-route-Sectionid="@ViewData["SectionNo"]">Back to Groups</a>