
@model BudgetPortal.ViewModel.MultipleData

@{
    ViewData["Title"] = "BudgetForm";
    int OuterHeaderCount = 0;
    int OuterBodyCount = 0;
    int CountHeader = 0;
    int CounterBody = 0;
    int TableCount = 0;
}


<br /><br />
<div class="form-group">
Region
<div class="col-md-10">
    
</div>

</div>

<br />

<ul id="outerTab" class="nav nav-tabs" role="tablist">

    @foreach (var item in Model.Sectionss)
    {

        var inneridenti = String.Concat("Budget", @item.SectionNo.ToString());

        if (OuterHeaderCount == 0)
        {
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="@inneridenti-nav" data-bs-toggle="tab" data-bs-target="#@inneridenti" type="button" role="tab" aria-controls="@inneridenti" aria-selected="true">@item.SectionName</button>
            </li>
        }
        else
        {
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="@inneridenti-nav" data-bs-toggle="tab" data-bs-target="#@inneridenti" type="button" role="tab" aria-controls="@inneridenti" aria-selected="false">@item.SectionName</button>
            </li>
        }

        OuterHeaderCount++;
    }
</ul>

<div id="outerTabContent" class="tab-content">
    <br /><br />
    @foreach (var inner in Model.Sectionss)
    {
        var inneridenti = String.Concat("Budget", @inner.SectionNo.ToString());
        CountHeader = 0;
        CounterBody = 0;

        if (OuterBodyCount == 0)
        {
            <div id="@inneridenti" class="tab-pane fade show active" role="tabpanel" aria-labelledby="@inneridenti-tab" aria-selected="true">

                <ul id="innertab1" class="nav nav-tabs" role="tablist">

                    @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                    {
                        var identi = String.Concat("Budget", Convert.ToInt32((Convert.ToDecimal(@item.GroupNo) * 10)).ToString());
                        if (CountHeader == 0)
                        {

                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="@identi-nav" data-bs-toggle="tab" data-bs-target="#@identi" type="button" role="tab" aria-controls="@identi" aria-selected="true">@item.GroupName</button>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="@identi-nav" data-bs-toggle="tab" data-bs-target="#@identi" type="button" role="tab" aria-controls="@identi" aria-selected="false">@item.GroupName</button>
                            </li>
                        }

                        CountHeader++;
                    }
                </ul>

                <div id="innertabcontent1" class="tab-content">
                    <br/><br/><br/>
                    @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                    {
                        var identi = String.Concat("Budget", Convert.ToInt32((Convert.ToDecimal(@item.GroupNo) * 10)).ToString());
                        if (CounterBody == 0)
                        {
                            <div id="@identi" class="tab-pane fade show active" role="tabpanel" aria-labelledby="@identi-tab">
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            SubGroupNumber
                                        </th>
                                        <th>
                                            SubGroupName
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Subs in Model.SubGroupss.Where(d => d.GroupNo.Equals(@item.GroupNo)))
                                    {
                                        <tr>
                                             <td>
                                                    <img src="~/Images/plus.png" />
                                                    <div id="NestedTable" style="display:none">
                                                        <table class="table ChildGrid">
                                                            <tr>
                                                                <th>Ledger Number</th>
                                                                <th>Ledger Name</th>
                                                            </tr>
                                                            @foreach (var Ledgers in Model.Ledgerss.Where(d => d.SubGroupNo.Equals(@Subs.SubGroupNo)))
                                                            {
                                                                <tr>
                                                                    <td>@Ledgers.LedgerNo</td>
                                                                    <td>@Ledgers.LedgerName</td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>
                                             </td>
                                            <td>
                                                @Subs.SubGroupNo
                                            </td>
                                            <td>
                                                @Subs.subGroupName
                                            </td>

                                        </tr>
                                        TableCount++;
                                    }
                                </tbody>
                            </table>
                           </div>
                        }
                        else
                        {
                            <div id="@identi" class="tab-pane fade" role="tabpanel" aria-labelledby="@identi-tab">
                                <br /><br /><br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            SubGroupNumber
                                        </th>
                                        <th>
                                            SubGroupName
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Subs in Model.SubGroupss.Where(d => d.GroupNo.Equals(@item.GroupNo)))
                                    {
                                        <tr>
                                                <td>
                                                    <img src="~/Images/plus.png" />
                                                    <div id="NestedTable" style="display:none">
                                                        <table class="table ChildGrid">
                                                            <tr>
                                                                <th>Ledger Number</th>
                                                                <th>Ledger Name</th>
                                                            </tr>
                                                            @foreach (var Ledgers in Model.Ledgerss.Where(d => d.SubGroupNo.Equals(@Subs.SubGroupNo)))
                                                            {
                                                                <tr>
                                                                    <td>@Ledgers.LedgerNo</td>
                                                                    <td>@Ledgers.LedgerName</td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>
                                                </td>
                                            <td>
                                                @Subs.SubGroupNo
                                            </td>
                                            <td>
                                                @Subs.subGroupName
                                            </td>

                                        </tr>
                                        TableCount++;
                                    }
                                </tbody>
                            </table>
                            </div>
                        }
                        CounterBody++;
                    }
                </div>
            </div>
        }

        else
        {
            <div id="@inneridenti" class="tab-pane fade" role="tabpanel" aria-labelledby="@inneridenti-tab" aria-selected="false">

                <ul id="innertab2" class="nav nav-tabs" role="tablist">

                    @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                    {
                        var identi = String.Concat("Budget", Convert.ToInt32((Convert.ToDecimal(@item.GroupNo) * 10)).ToString());
                        if (CountHeader == 0)
                        {

                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="@identi-nav" data-bs-toggle="tab" data-bs-target="#@identi" type="button" role="tab" aria-controls="@identi" aria-selected="true">@item.GroupName</button>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="@identi-nav" data-bs-toggle="tab" data-bs-target="#@identi" type="button" role="tab" aria-controls="@identi" aria-selected="false">@item.GroupName</button>
                            </li>
                        }

                        CountHeader++;
                    }
                </ul>

                <div id="innertabcontent2" class="tab-content">
                    <br /><br /><br />
                    @foreach (var item in Model.Groupss.Where(d => d.SectionNo == @inner.SectionNo))
                    {
                        var identi = String.Concat("Budget", Convert.ToInt32((Convert.ToDecimal(@item.GroupNo) * 10)).ToString());
                        if (CounterBody == 0)
                        {
                            <div id="@identi" class="tab-pane fade show active" role="tabpanel" aria-labelledby="@identi-tab">
                            
                             <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            SubGroupNumber
                                        </th>
                                        <th>
                                            SubGroupName
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Subs in Model.SubGroupss.Where(d => d.GroupNo.Equals( @item.GroupNo)))
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/Images/plus.png" />
                                                <div id="NestedTable"style="display:none">
                                                    <table class="table ChildGrid">
                                                        <tr>
                                                            <th>Ledger Number</th>
                                                            <th>Ledger Name</th>
                                                        </tr>
                                                        @foreach (var Ledgers in Model.Ledgerss.Where(d =>d.SubGroupNo.Equals(@Subs.SubGroupNo)))
                                                        {
                                                            <tr>
                                                                    <td>@Ledgers.LedgerNo</td>
                                                                    <td>@Ledgers.LedgerName</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </td>
                                            <td>
                                                @Subs.SubGroupNo
                                            </td>
                                            <td>
                                                @Subs.subGroupName
                                            </td>

                                        </tr>

                                        TableCount++;
                                    }
                                </tbody>
                             </table>
                           </div> 
                        }
                        else
                        {
                            <div id="@identi" class="tab-pane fade" role="tabpanel" aria-labelledby="@identi-tab">
                                <br /><br /><br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            SubGroupNumber
                                        </th>
                                        <th>
                                            SubGroupName
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Subs in Model.SubGroupss.Where(d => d.GroupNo.Equals(@item.GroupNo)))
                                    {
                                        <tr>
                                            <td>
                                                    <img src="~/Images/plus.png" />
                                                    <div id="NestedTable" style="display:none">
                                                        <table class="table ChildGrid">
                                                            <tr>
                                                                <th>Ledger Number</th>
                                                                <th>Ledger Name</th>
                                                            </tr>
                                                            @foreach (var Ledgers in Model.Ledgerss.Where(d => d.SubGroupNo.Equals(@Subs.SubGroupNo)))
                                                            {
                                                                <tr>
                                                                    <td>@Ledgers.LedgerNo</td>
                                                                    <td>@Ledgers.LedgerName</td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>
                                            </td>
                                            <td>
                                                @Subs.SubGroupNo
                                            </td>
                                            <td>
                                                @Subs.subGroupName
                                            </td>

                                        </tr>
                                        TableCount++;
                                    }
                                </tbody>
                            </table>
                            </div>
                        }
                        CounterBody++;
                    }
                </div>
            </div>
        }

        OuterBodyCount++;
    }
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/nestedtable.js"></script>